@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?i82rui') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?i82rui') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?i82rui##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doc-management {
  &:before {
    content: $icon-doc-management; 
  }
}
.icon-stat {
  &:before {
    content: $icon-stat; 
  }
}
.icon-registry {
  &:before {
    content: $icon-registry; 
  }
}
.icon-winrar .path1 {
  &:before {
    content: $icon-winrar-path1;  
    color: rgb(207, 216, 220);
  }
}
.icon-winrar .path2 {
  &:before {
    content: $icon-winrar-path2;  
    margin-left: -1em;  
    color: rgb(63, 81, 181);
  }
}
.icon-winrar .path3 {
  &:before {
    content: $icon-winrar-path3;  
    margin-left: -1em;  
    color: rgb(63, 81, 181);
  }
}
.icon-winrar .path4 {
  &:before {
    content: $icon-winrar-path4;  
    margin-left: -1em;  
    color: rgb(156, 39, 176);
  }
}
.icon-winrar .path5 {
  &:before {
    content: $icon-winrar-path5;  
    margin-left: -1em;  
    color: rgb(156, 39, 176);
  }
}
.icon-winrar .path6 {
  &:before {
    content: $icon-winrar-path6;  
    margin-left: -1em;  
    color: rgb(139, 195, 74);
  }
}
.icon-winrar .path7 {
  &:before {
    content: $icon-winrar-path7;  
    margin-left: -1em;  
    color: rgb(139, 195, 74);
  }
}
.icon-winrar .path8 {
  &:before {
    content: $icon-winrar-path8;  
    margin-left: -1em;  
    color: rgb(104, 159, 56);
  }
}
.icon-winrar .path9 {
  &:before {
    content: $icon-winrar-path9;  
    margin-left: -1em;  
    color: rgb(48, 63, 159);
  }
}
.icon-winrar .path10 {
  &:before {
    content: $icon-winrar-path10;  
    margin-left: -1em;  
    color: rgb(253, 216, 53);
  }
}
.icon-winrar .path11 {
  &:before {
    content: $icon-winrar-path11;  
    margin-left: -1em;  
    color: rgb(123, 31, 162);
  }
}
.icon-winrar .path12 {
  &:before {
    content: $icon-winrar-path12;  
    margin-left: -1em;  
    color: rgb(175, 112, 0);
  }
}
.icon-winrar .path13 {
  &:before {
    content: $icon-winrar-path13;  
    margin-left: -1em;  
    color: rgb(255, 193, 7);
  }
}
.icon-winrar .path14 {
  &:before {
    content: $icon-winrar-path14;  
    margin-left: -1em;  
    color: rgb(91, 59, 7);
  }
}
.icon-winrar .path15 {
  &:before {
    content: $icon-winrar-path15;  
    margin-left: -1em;  
    color: rgb(255, 235, 59);
  }
}
.icon-acrobat {
  &:before {
    content: $icon-acrobat;     
    color: #ee3f24;
  }
}
.icon-excel {
  &:before {
    content: $icon-excel;     
    color: #217346;
  }
}
.icon-powerpoint {
  &:before {
    content: $icon-powerpoint;     
    color: #d24726;
  }
}
.icon-word {
  &:before {
    content: $icon-word;     
    color: #2b579a;
  }
}
.icon-empty_box {
  &:before {
    content: $icon-empty_box; 
  }
}
.icon-conference {
  &:before {
    content: $icon-conference; 
  }
}
.icon-planning_meeting {
  &:before {
    content: $icon-planning_meeting; 
  }
}
.icon-teleconference {
  &:before {
    content: $icon-teleconference; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-phonebook {
  &:before {
    content: $icon-phonebook; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-tasks {
  &:before {
    content: $icon-tasks; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-success {
  &:before {
    content: $icon-success; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-attention {
  &:before {
    content: $icon-attention; 
  }
}
.icon-warning {
  &:before {
    content: $icon-warning; 
  }
}
.icon-login {
  &:before {
    content: $icon-login; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-clear {
  &:before {
    content: $icon-clear; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-chevron {
  &:before {
    content: $icon-chevron; 
  }
}
.icon-conversation {
  &:before {
    content: $icon-conversation; 
  }
}
.icon-update {
  &:before {
    content: $icon-update; 
  }
}
.icon-file {
  &:before {
    content: $icon-file; 
  }
}
.icon-earth {
  &:before {
    content: $icon-earth; 
  }
}
.icon-tag {
  &:before {
    content: $icon-tag; 
  }
}

