$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-chevron: "\e912";
$icon-conference: "\e911";
$icon-planning_meeting: "\e90f";
$icon-teleconference: "\e910";
$icon-pin: "\e900";
$icon-home: "\e90c";
$icon-user: "\e90d";
$icon-phonebook: "\e901";
$icon-calendar: "\e902";
$icon-settings: "\e908";
$icon-tasks: "\e909";
$icon-mail: "\e90a";
$icon-success: "\e904";
$icon-info: "\e905";
$icon-attention: "\e906";
$icon-warning: "\e907";
$icon-login: "\e903";
$icon-logout: "\e90b";
$icon-search: "\e90e";
$icon-conversation: "\e96c";

