$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-settings: "\e908";
$icon-tasks: "\e909";
$icon-mail: "\e90a";
$icon-success: "\e904";
$icon-info: "\e905";
$icon-attention: "\e906";
$icon-warning: "\e907";
$icon-login: "\e901";
$icon-logout: "\e903";
$icon-search: "\e902";
$icon-user: "\e900";

