@mixin transition($property, $duration: .3s, $timing-function: ease-out) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
}

@mixin def-border-radius {
  border-radius: $border-radius;
}

@mixin def-box-shadow {
  box-shadow: 0 .125rem .25rem $gray_shadow;
}

@mixin def-box-shadow-color($shadow_color) {
  box-shadow: 0 .125rem .25rem $shadow_color;
}

@mixin def-box-shadow-no-color {
  box-shadow: 0 .125rem .25rem;
}

@mixin def-border-gray {
  border: 1px solid $gray;
}