@mixin transition($property, $duration: .3s, $timing-function: ease-out) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
}

@mixin def-border-radius {
  border-radius: .25rem;
}

@mixin def-box-shadow {
  box-shadow: 0 .125rem .25rem $gray_shadow;
}
