// Colors
$black: #000;
$cardio: #b71c1c;
$dark: #2c3e50;
$gray_light: #eee;
$gray: #b3b3b3;
$gray_dark: #8c8c8c;
$gray_darken: #4d4d4d;
$gray_shadow: #ccc;
$primary: #55acee;
$primary_light: lighten($primary, 12.5%);
$primary_dark: darken($primary, 25%);
$success: #5EB82E;
$warning: #DBD937;
$white: #fff;

// Fix icomoon
$icomoon-font-path: '~@/assets/fonts';

// Font
$font-size: 18px;
