button,
.button {
  @include transition((background-color, color));
  @include def-border-radius;
  background-color: transparent;
  border: 0 none;
  box-sizing: border-box;
  padding: .5rem 1.25rem;
}

button {
  cursor: pointer;
}

a.button {
  display: flex;
}

.button {

  &_primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $primary_dark;
    }

    &.button-icon {

      .icon {
        background-color: darken($primary, 15%);
      }
    }
  }

  &_cardio {
    background-color: $cardio;
    color: $white;

    &:hover {
      background-color: darken($cardio, 15%);
    }

    &.button-icon {

      .icon {
        background-color: darken($primary, 15%);
      }
    }
  }

  &_gray {
    background-color: $gray;
    color: $white;

    &:hover {
      background-color: $gray_darken;
    }

    &.button-icon {

      .icon {
        background-color: $gray_dark;
      }
    }
  }

  &_lightgray {
    background-color: $gray;
    color: $white;

    &:hover {
      background-color: $gray_dark;
    }

    &.button-icon {

      .icon {
        background-color: $gray;
      }
    }
  }

  &_outline {
    border: 1px solid;

    &_cardio {
      border-color: $cardio;
      color: $cardio;

      &:hover {
        background-color: $cardio;
        color: $white;
      }
    }

    &_gray {
      border-color: $gray_dark;

      &:hover {
        background-color: $gray_light;
        border-color: $gray_dark;
      }
    }
  }

  &_inline {
    display: inline-block;
    padding: 0;
  }

  &:disabled {
    background-color: $gray;
    cursor: not-allowed;
  }
}

.button-icon {
  $padding: .75rem;
  align-items: center;
  display: flex;
  overflow: hidden;
  padding: 0 $padding 0 0;

  .icon {
    @include transition((background-color, color));
    margin-right: $padding;
    padding: .5rem $padding;
  }

  &.button_outline {
    border-color: $gray;

    &:hover {
      background-color: $gray_light;

      .icon {
        background-color: $gray;
      }
    }

    .icon {
      background-color: $gray_light;
    }
  }
}
