body {
  font-size: $font-size;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#app {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

a {
  text-decoration: none;
  @include transition(color);
}

p {
  line-height: 1.5;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  @include def-border-radius;
  background-color: transparent;
  border: 0 none;
  box-sizing: border-box;
  padding: .5rem 1.25rem;
}

.container {
  margin: 0 auto;
  padding: 3.25rem 0;
  width: 80%;
}

.flexbox {
  display: flex;
}

@import 'button';
@import 'form';
