body {
  font-size: 18px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#app {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

a {
  text-decoration: none;
  @include transition(color);
}

p {
  line-height: 1.5;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
.button,
input {
  @include transition((background-color, color));
  @include def-border-radius;
  background-color: transparent;
  border: 0 none;
  box-sizing: border-box;
  padding: .5rem 1.25rem;
}

button {
  cursor: pointer;
}

a.button {
  display: inline-block;
}

.button {

  &_primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $primary_dark;
    }

    &.button-icon {

      .icon {
        background-color: darken($primary, 15%);
      }
    }
  }

  &_gray {
    background-color: $gray;
    color: $white;

    &:hover {
      background-color: $gray_darken;
    }

    &.button-icon {

      .icon {
        background-color: $gray_dark;
      }
    }
  }

  &_lightgray {
    background-color: $gray;
    color: $white;

    &:hover {
      background-color: $gray_dark;
    }

    &.button-icon {

      .icon {
        background-color: $gray;
      }
    }
  }
}

.button-icon {
  $padding: .75rem;
  align-items: center;
  display: flex;
  overflow: hidden;
  padding: 0 $padding 0 0;

  .icon {
    margin-right: $padding;
    padding: .5rem $padding;
  }
}

.container {
  margin: 0 auto;
  padding: 3.25rem 0;
  width: 80%;
}

.flexbox {
  display: flex;
}