body {
  font-size: $font-size;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#app {
  display: flex;
  min-height: 100vh;
}

main {
  width: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

a {
  text-decoration: none;
  @include transition(color);
}

p {
  line-height: 1.5;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside;
}

input,
select,
textarea {
  @include def-border-radius;
  background-color: transparent;
  border: 0 none;
  box-sizing: border-box;

  &:focus {
    outline: 0 none;
  }
}

input {
  padding: .5rem 1.25rem;
}

select {
  padding: .5rem 1rem;
}

textarea {
  padding: .5rem;
  resize: none;
}

table {
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  padding: 3.25rem 0;
  width: 80%;
}

.flexbox {
  display: flex;

  &_column {
    flex-direction: column;
  }

  &_align {

    &_center {
      align-items: center;
    }
  }
}

.italic {
  font-style: italic;
}

.color {

  &_cardio {
    color: $cardio;
  }

  &_gray {
    color: $gray;
  }
}

.icon-chevron {
  display: inline-block;
  transform-origin: 50% 50%;

  &_right {
    transform: scale(-1, 1);
  }

  &_up {
    transform: rotateZ(90deg);
  }

  &_down {
    transform: rotateZ(-90deg);
  }
}

@import 'button';
@import 'form';
